//====================================================================================================//
//            ОБНУЛЕНИЕ                                                                               //
//====================================================================================================//
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

//====================================================================================================//
//             ОСНОВНЫЕ НАСТРОЙКИ                                                                     //
//====================================================================================================//
body{
  background-color: #21242e;
  font-family: 'Montserrat', serif;
}

.ibg{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  img{
    display: none;
  }
}
.nocover{
   background-size: auto;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
$maxwidth: 1200;
$maxwidth1: $maxwidth+12;
$maxwidth2:  992.98;
$maxwidth3:  767.98;
$maxwidth4:  479.98;

.container {
  max-width: $maxwidth+px;
  margin: 0 auto;
  width: 100%;
  @media (max-width: $maxwidth1+px) {max-width: 970px;}
  @media (max-width: $maxwidth2+px) {max-width: 750px;}
  @media (max-width: $maxwidth3+px) {max-width: none; padding: 0 10px;}

}
//====================================================================================================
//             ПОДКЛЮЧЕНИЕ ДОПОЛНИТЕЛЬНЫХ ФАЙЛОВ СТИЛЕЙ
//====================================================================================================
// @import "header.scss";
// @import "footer.scss";




//==================================================================================================//
//             ОСНОВНОЙ БЛОК                                                                        //
//==================================================================================================//
.mainblock {
  display: flex;
  align-items: flex-start;
  margin: 120px 0 0 0;
}
//======================================СЛЕДУЮЩАЯ СЕКЦИЯ============================================//
//======================================СЛЕДУЮЩАЯ СЕКЦИЯ============================================//
//======================================СЛЕДУЮЩАЯ СЕКЦИЯ============================================//
//======================================СЛЕДУЮЩАЯ СЕКЦИЯ============================================//
//======================================СЛЕДУЮЩАЯ СЕКЦИЯ============================================//
//======================================СЛЕДУЮЩАЯ СЕКЦИЯ============================================//
//======================================СЛЕДУЮЩАЯ СЕКЦИЯ============================================//
//======================================СЛЕДУЮЩАЯ СЕКЦИЯ============================================//
//======================================СЛЕДУЮЩАЯ СЕКЦИЯ============================================//

